<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Witcher</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <h1>Weather Witcher</h1>

    <h2>Tell me your location</h2>
    <form action="/search" method="POST">
        <label for="searchInput"></label>
        <input type="text" id="searchInput" name="search">
        <button id="search-button" type="submit">Search</button>
    </form>
</body>
</html>
