@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

#background {
    width: 100%;
    height: 100vh;
    background-image: url("https://i1.pickpik.com/photos/622/242/506/sky-cloud-blue-sky-weather-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(60deg, #39A7FF, #87C4FF, #E0F4FF);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    width: 400px;
    z-index: 2;
}

.main-title {
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: large;
    margin-bottom: 20px;
}

#cont-header {
    border-bottom: 3px solid #FFF;
    padding-bottom: 20px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 10px;
}

#seachForm {
    display: flex;
    height: 35px;
}

input[type=text] {
    width: 350px;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
}

#search-button {
    margin-left: 5px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4942E4;
    border: 0;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #11009E;
}

#cont-information {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location > * {
    margin-left: 10px;
}

.temp {
    margin-top: 10px;
    font-weight: 400;
    font-size: 75px;
    text-align: center;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.extra {
    text-align: center;
}

.error-msg {
    text-align: center;
}

#defaultSearch {
    display: flex;
    flex-direction: column;
}

.initial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4942E4;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.initial:hover {
    background-color: #11009E;
}

.initial > img {
    margin-left: 5px;
}
